<section class="download">
    <div class="wrapper">
        <div class="content">
            <!-- Main Heading -->
            <h1 class="title mb-3">Voice First <span class="yellow-text">Resources</span> </h1>
            
            <!-- Subheading -->
            <p class="sub-head mb-4">Download Our Latest Presentations & Documentation</p>
            
            <!-- Description -->
            <p class="description mb-3">
              Get a comprehensive overview of Voice First's real-time issue reporting and management system. Download our presentation to explore its features, benefits, and use cases. Access detailed documentation to help you implement and make the most of Voice First in your organization.
            </p>
            <p class="content-text">Download links are given below :</p>
            <!-- Buttons -->
            <div class="button-group mt-2">
                <a href="https://docs.google.com/document/d/1fQgjOlRmpl_8eK9ug41sqC1eRGWg7RdNcr64qc-bF8A/export?format=pdf" class="download-btn"><i class="fa-solid fa-download"></i> Whitepaper</a>
                <a href="https://docs.google.com/document/d/15hjpErT2QYbeFG6GJ_Y9ZZhCGmDGwhmIZvOw4geh7YQ/export?format=pdf"  class="download-btn"><i class="fa-solid fa-download"></i> Whitepaper Summary</a>
                <a href="https://docs.google.com/presentation/d/1o5OEMOEdpzS7iZBTkLzYTItKF7Tkx2lyQtRg-QPQWY8/export?format=pdf"  class="download-btn"><i class="fa-solid fa-download"></i>Product Presentation</a>
                <a href="https://docs.google.com/presentation/d/1GhsnkFDCSDpLvkV32VuluLd6B5zu2eeqYS-rCwfqp9E/export?format=pdf"   class="download-btn"><i class="fa-solid fa-download"></i>Product Presentation Summary</a>


              
              </div>

            

        </div>
    </div>
</section>