<section class="hero-banner">
    <div class="wrapper d-flex justify-content-center align-items-center h-100 flex-column">
        <div class="img-container">
            <img src="assets/images/coins.png" alt="" height="400">
        </div>
      <div class="banner-title">
        <h1 class="title fw-bold text-center">Pricing & <span class="underline"> Subscription</span> </h1>
      </div>
    </div>
  </section>

<section>
    <div class="wrapper">
        <div class="content">
            <p class="content-text">Take control of issue tracking with flexible and transparent pricing designed to fit businesses of all sizes. 
                Whether you're managing a few locations or scaling across multiple branches, VoiceFirst adapts to your needs with affordable subscription 
                plans and unlimited user access.
            </p>
            <div class="offer-part">
                <p class="mb-0"> <span class="fw-bold">Limited-Time Offer!</span>  Get one year free when you sign up as one of our first five customers. <span class="fst-italic"> (AWS hosting charges apply)</span></p>
            </div>

            <div class="case-card mt-4">
                <h5 class="fw-bold">What’s Included in Every Plan?</h5>
                    <ul>
                        <li class="content-text"><span class="fw-bold">Unlimited Internal Users – </span> No per-user fees, ensuring scalability within your organization</li>
                        <li class="content-text"><span class="fw-bold">Unlimited External Users – </span> Allow customers, vendors, or partners to report issues without restrictions</li>
                        <li class="content-text"><span class="fw-bold">Customization Available – </span> Tailor VoiceFirst to your business needs (charged on a time & material basis)</li>
                    </ul>
            </div>

            <div class="pricing-container">
                <div>
                  <!-- <h3>Personal</h3> -->
                  <h5><span>100</span> / Month</h5>
                  <p>Add<span class="fw-bold"> 5 Branches</span> </p>
                  <p>Up to <span class="fw-bold">2,500</span> Issues/Month</p>
                </div>
                <div>
                  <!-- <h3>enterprise</h3> -->
                  <h5><span>200</span> / Month</h5>
                  <p>Add<span class="fw-bold"> 5 Branches</span> </p>
                  <p>Up to <span class="fw-bold">5,000</span> Issues/Month</p>
                </div>

                <p><span class="fw-bold">Need more? </span>For additional branches or higher issue limits, we offer custom pricing tailored to your business scale.</p>
            </div>

            <div class="case-card mt-4">
                <h3 class="fw-bold text-center">Why Choose <span class="underline"> Voice First ?</span></h3>
                <ul class="custom-list mt-5">
                    <li class="content-text">
                        <span class="fw-bold">Scalable Pricing :</span> Pay for what you need and upgrade as your business grows.​
                    </li>
                    <li class="content-text">
                        <span class="fw-bold">No Hidden Fees :</span> Transparent, predictable costs with unlimited user access.​
                    </li>
                    <li class="content-text">
                        <span class="fw-bold">Real-Time Issue Tracking :</span> Ensure faster resolutions and improved operational efficiency.
                    </li>
                    <li class="content-text">
                        <span class="fw-bold">Customizable to Your Needs:</span> Modify workflows, reporting, and integrations as required.
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>
