<section class="section-bg" style="background-image: url('/assets/images/world-map2.png');"  data-scroll-index="7">
    <div class="overlay-contact pt-100 pb-100 ">

      <div class="container">
         <div class="row">
              <div class="col-lg-6 d-flex align-items-center">
                  <div class="contact-info">

                      <h2 class="contact-title">Get in Touch with <span class="underline fw-bold">Voice First</span></h2>
                      <p class="content-text">Have questions? Need a demo? We're here to help! Whether you're looking for a customized issue tracking solution, want to learn more about our pricing plans, or need technical support, our team is ready to assist you.</p>
                      <ul class="contact-info">
                          <li>
                            <div class="info-left">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="info-right">
                                <h4>+91 98950 46902</h4>
                            </div>
                          </li>
                          <li>
                            <div class="info-left">
                                <i class="fas fa-at"></i>
                            </div>
                            <div class="info-right">
                                <h4><a href="mailto:thomasjordy@notetech.com">thomasjordy&#64;notetech.com</a></h4>
                            </div>
                          </li>

                          <li>
                            <div class="info-left">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="info-right">
                                <h4>PCRA 77,9th Avenue,
                                    Azad Road, PC Road,<br>
                                    Kaloor, Kochi, India<br>
                                    Pincode : 682017
                                </h4>
                            </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center">
                      <div class="contact-form">
                                  <!--Contact Form-->
                                  <form>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" placeholder="Name">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" placeholder="Subject">
                                        </div>
                                        <div class="col-sm-12">
                                            <textarea class="form-control" rows="5" id="comment" placeholder="Message"></textarea>
                                        </div>
                                        <div class="col-sm-12">
                                            <button class="btn btn-block" type="submit">Send Now!</button>
                                        </div>
                                    </div>                                    
                                </form>
                              </div>
              </div>
         </div>
     </div>
        </div>
  </section>
