
<section class="hero" id="home">

    <div class="wrapper">
        <div class="content">
          <div class="row w-100">
            <div class="col-md-6">
                <div class="right-section">
                  <h1>Voice First</h1>
                  <p>The Issue Tracker</p>
                </div>
            </div>
            <div class="col-md-6">
              <img src="" alt="">
            </div>

          </div>
        </div>
    </div>
</section>


<section class="about mt-5">
    <div class="wrapper">
            <div class="row w-100">
                <div class="col-md-4">
                    <div class="about-banner"></div>
                </div>
                <div class="col-md-8 d-flex align-items-center">
                    <div class="about-content">
                      <h3 class="hero-title fw-bold">Voice First – The Enterprise Issue Tracker that Keeps You Ahead of Every Challenge</h3>
                      <p class="content-text slogan">"To revolutionize issue management by enabling organizations to report, track, and resolve challenges faster, smarter, and with greater efficiency."</p>
                        <p class="content-text"><span class="fw-bold">Voice First </span>is a cutting-edge issue tracking system that 
                            simplifies the way organizations report, track, and resolve issues in real time. Whether it's workplace 
                            challenges, customer complaints, or operational inefficiencies, VoiceFirst ensures faster resolutions 
                            through automation and seamless team collaboration.
                        </p>
                    </div>
                </div>
            </div>
    </div>
</section>


<section class="feature-section" id="feature">
  <div class="wrapper">
    <div class="content">
      <div class="features-container mt-5">
        <h2 class="h2 feature-section-title ">Our Features</h2>
    
        <ul class="benefit-list">
          <li>
            <div class="feature-card">
              <div class="feature-icon">
                <!-- <ion-icon name="bulb-outline"></ion-icon> -->
              </div>
    
              <div class="feature-content">
                <h3 class="h3 feature-title">Idea & Analysis</h3>
                <p class="content-text">
                  Praesent tincidunt congue est ut hendrerit. Pellentesque et
                  eros sit amet ipsum venenatis.
                </p>
              </div>
            </div>
          </li>
    
          <li>
            <div class="feature-card">
              <div class="feature-icon">
                <!-- <ion-icon name="color-palette-outline"></ion-icon> -->
              </div>
    
              <div class="feature-content">
                <h3 class="h3 feature-title">Designing</h3>
                <p class="content-text">
                  Praesent tincidunt congue est ut hendrerit. Pellentesque et
                  eros sit amet ipsum venenatis.
                </p>
              </div>
            </div>
          </li>
        </ul>
    
        <figure class="feature-banner">
          <img
            src="/assets/images/features-section.png"
            width="369"
            height="318"
            loading="lazy"
            alt="Features Banner"
            class="w-100 banner-animation"
          />
        </figure>
    
        <ul class="benefit-list">
          <li>
            <div class="feature-card">
              <div class="feature-icon">
                <!-- <ion-icon name="code-slash-outline"></ion-icon> -->
              </div>
    
              <div class="feature-content">
                <h3 class="h3 feature-title">Development</h3>
                <p class="content-text">
                  Praesent tincidunt congue est ut hendrerit. Pellentesque et
                  eros sit amet ipsum venenatis.
                </p>
              </div>
            </div>
          </li>
    
          <li>
            <div class="feature-card">
              <div class="feature-icon">
                <!-- <ion-icon name="rocket-outline"></ion-icon> -->
              </div>
    
              <div class="feature-content">
                <h3 class="h3 feature-title">Testing & Launching</h3>
                <p class="content-text">
                  Praesent tincidunt congue est ut hendrerit. Pellentesque et
                  eros sit amet ipsum venenatis.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <a class="ctabtn-1" routerLink="/what-is">
          <span class="button__icon-wrapper">
            <svg
              width="10"
              class="button__icon-svg"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 15"
            >
              <path
                fill="currentColor"
                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
              ></path>
            </svg>
        
            <svg
              class="button__icon-svg button__icon-svg--copy"
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              fill="none"
              viewBox="0 0 14 15"
            >
              <path
                fill="currentColor"
                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
              ></path>
            </svg>
          </span>
          Know More
        </a>
      </div>
    </div>
  </div>
</section>


<section class="cta mt-5 mb-1">
  <div class="wrapper">
      <div class="content">
          <div class="row w-100">
            <div class="col-md-8">
              <div class="underline-black mb-5">
                <h1>Take Control of Your <span class="text-black">Issues</span> Today!</h1>
              </div>
              <p>Empower your team with <span class="fw-bold">Voice First</span> and resolve challenges faster than ever.<br>
                Schedule a meeting to see it in action or get started now!</p>
              <div class="d-flex mt-5">
                    <button class="ctabtn-1" href="#">
                      <span class="button__icon-wrapper">
                        <svg
                          width="10"
                          class="button__icon-svg"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 14 15"
                        >
                          <path
                            fill="currentColor"
                            d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                          ></path>
                        </svg>
                    
                        <svg
                          class="button__icon-svg button__icon-svg--copy"
                          xmlns="http://www.w3.org/2000/svg"
                          width="10"
                          fill="none"
                          viewBox="0 0 14 15"
                        >
                          <path
                            fill="currentColor"
                            d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                          ></path>
                        </svg>
                      </span>
                      Contact Us
                    </button>
                    <a class="ctabtn-2" role="button" href="https://calendly.com/thomasjordy">Schedule Meeting</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="cta-banner"></div>
            </div>
          </div>
      </div>
  </div>
</section>


<section id="statistic" class="statistic-section one-page-section">
  <div class="container">
      <div class="row text-center">
          <div class="col-xs-12 col-md-3">
              <div class="counter">
                  <!-- <i class="fa fa-coffee fa-2x stats-icon"></i> -->
                  <h2 class="timer count-title count-number">999</h2>
                  <div class="stats-line-black"></div>
                  <p class="stats-text">Coffee Cups</p>
              </div>
          </div>
          <div class="col-xs-12 col-md-3">
              <div class="counter">
                  <!-- <i class="fa fa-code fa-2x stats-icon"></i> -->
                  <h2 class="timer count-title count-number">10000
                  </h2>
                  <div class="stats-line-black"></div>
                  <p class="stats-text">Line Code</p>
              </div>
          </div>
          <div class="col-xs-12 col-md-3">
              <div class="counter">
                  <!-- <i class="fa fa-clock-o fa-2x stats-icon"></i> -->
                  <h2 class="timer count-title count-number">6</h2>
                  <div class="stats-line-black"></div>
                  <p class="stats-text">Years Experience</p>
              </div>
          </div>
          <div class="col-xs-12 col-md-3">
              <div class="counter">
                  <!-- <i class="fa fa-laptop fa-2x stats-icon"></i> -->
                  <h2 class="timer count-title count-number">12</h2>
                  <div class="stats-line-black"></div>
                  <p class="stats-text">Project</p>
              </div>
          </div>
      </div>
  </div>
</section>




