<section class="about-company mb-1">
    <div class="row w-100 g-0">
        <!-- Left Section with Background Image and Text -->
        <div class="col-md-4">
            <div class="left-section">
                <h1 class="heading1">ABOUT</h1>
                <h1 class="heading2">US</h1>
            </div>
        </div>
        <!-- Right Section with Description -->
        <div class="col-md-8">
            <div class="right-section">
                <img src="assets/logo/notetech-logo.png" alt="" class="company-logo">
                <p>
                    ​Established in 1998, <span class="fw-bold">Notetech Software</span> has been a trusted provider of offshore software development services for over 26 years. Specializing in partnerships with 
                    software product companies across the USA and Canada, we offer tailored solutions that align with our clients' unique business objectives.​

                </p>
                <p class="fw-bold"><a href="https://www.notetech.com/"><i class="fa-solid fa-globe"></i>&nbsp;www.notetech.com</a></p>
                <!-- <p >Join Us in Transforming Issue Resolution</p> -->
                <!-- <div class="d-flex mt-1">
                    <button class="ctabtn-1" href="#">
                      <span class="button__icon-wrapper">
                        <svg
                          width="10"
                          class="button__icon-svg"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 14 15"
                        >
                          <path
                            fill="currentColor"
                            d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                          ></path>
                        </svg>
                    
                        <svg
                          class="button__icon-svg button__icon-svg--copy"
                          xmlns="http://www.w3.org/2000/svg"
                          width="10"
                          fill="none"
                          viewBox="0 0 14 15"
                        >
                          <path
                            fill="currentColor"
                            d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                          ></path>
                        </svg>
                      </span>
                      Contact Us
                    </button>
                    <a class="ctabtn-2" role="button" href="https://calendly.com/thomasjordy">Schedule Meeting</a>
              </div> -->
            </div>
        </div>
    </div>
</section>


<section class="whatis mt-lg-4">
    <div class="wrapper">
        <div class="content">
            <div class="vf-how">
                <h3 class="fw-bold">Why Choose <span class="underline"> Notetech Software?</span></h3>
                <div class="how-content mt-5">
                    <ul class="custom-list">
                        <li class="content-text">
                            <span class="fw-bold">Extensive Experience:</span> With over two decades in the industry, we have honed our expertise to deliver exceptional software solutions.​
                        </li>
                        <li class="content-text">
                            <span class="fw-bold">Client-Centric Approach:</span> Our services are designed to meet the specific needs of each client, ensuring personalized and effective solutions.​
                        </li>
                        <li class="content-text">
                            <span class="fw-bold">Skilled Professionals:</span> Our team comprises certified engineers and IT support professionals dedicated to delivering quality results.
                        </li>
                        <li class="content-text">
                            <span class="fw-bold">Proven Track Record:</span> We have successfully collaborated with clients in the USA, UK, Canada, and Europe, consistently reducing operational costs and leveraging the latest technological advancements.
                        </li>
                    </ul>
                    
                </div>

                <div>
                    <p class="content-text mb-4">Partner with Notetech Software to experience world-class offshore software development services that drive innovation and efficiency in your business operations.</p>
                    <div class="d-flex mt-3 justify-content-center">
                        <button class="ctabtn-1" href="#">
                          <span class="button__icon-wrapper">
                            <svg
                              width="10"
                              class="button__icon-svg"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 14 15"
                            >
                              <path
                                fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                              ></path>
                            </svg>
                        
                            <svg
                              class="button__icon-svg button__icon-svg--copy"
                              xmlns="http://www.w3.org/2000/svg"
                              width="10"
                              fill="none"
                              viewBox="0 0 14 15"
                            >
                              <path
                                fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"
                              ></path>
                            </svg>
                          </span>
                          Contact Us
                        </button>
                        <a class="ctabtn-2" role="button" href="https://calendly.com/thomasjordy">Schedule Meeting</a>
                  </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

 

